/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    #home {
        height: 100vh;
    }

    .home-main-text {
        margin-top: 150px;
        margin-top: 150px;
    }

    .form-control {
        width: 80%;
    }

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    #home {
        height: 100vh;
    }

    .home-main-text {
        margin-top: 120px;
        margin-bottom: 120px;
    }

    .media-body {
        margin-bottom: 50px;
    }

    .form-control {
        width: 80%;
    }

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    p {
        font-size: 1em;
    }

    .heading-first-letter {
        font-size: 2.3em;
    }

    .rest-heading {
        font-size: 1.3em;
    }


    #home {
        height: 100vh;
    }

    .home-main-text {
        margin-top: 200px;
    }

    .home-main-text h1 {
        font-size: 1.6em;
    }

    .typer h1 {
        font-size: 1.6em;
    }

    #about {
        height: 100vh;
    }

    #services {
        height: auto;
    }

    .services-content {
        box-shadow: none;
        margin: 20px 20px;
    }

    #skills{
      height: auto;
    }

    .progress{
      height: 20px;
    }

    .progress .val {
      line-height: 20px;
      margin: 0 2px 0 0;
    }

    .media-img {
        width: 80px;
        height: 80px;
    }

    .media-body p {
        margin-bottom: 20px;
    }

    #contact {
        height: auto;
    }

    .contact-box {
        margin: 10px 10px;
    }

    .form-control {
        width: 100%;
    }

}